<!DOCTYPE html>
<html>
<head>
	<title>Watch This</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/discover.css">
  <link rel="stylesheet" href="css/media-profile.css">
  <link rel="stylesheet" href="css/queued.css">

</head>
<body>
	<div id="fixed-bar" class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-info p-4 ">
        <h4 class="text-white "><a href="/queued-movies">Queued Movies</a></h4>
        <h4 class="text-white "><a href="/queued-shows">Queued Shows</a></h4>
        <h4 class="text-white "><a href="/watched-movies">Watched Movies</a></h4>
        <h4 class="text-white "><a href="/watched-shows">Watched Shows</a></h4>
        <h4 class="text-white "><a href="/discover-movies">Discover Movies</a></h4>
        <h4 class="text-white "><a href="/discover-shows">Discover Shows</a></h4>
        <h4 class="text-white "><a href="/logout">Logout</a></h4>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-danger">
    <h3>Watch This.</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>