<% include ./partials/header.ejs %>

<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search movies, television shows, actors, or directors">
    <button type="button" class="btn btn-outline-success">Search</button>
  </div>
</form>
<form class="form-inline">
  <label class="mr-sm-2" id="genre" for="inlineFormCustomSelectPref">Genre</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">Action</option>
    <option value="2">Adventure</option>
    <option value="3">Comdey</option>
    <option value="4">Drama</option>
    <option value="5">Horror</option>
    <option value="6">Romance</option>
    <option value="7">Thriller</option>
  </select>

  <button type="submit" class="btn btn-primary">Search</button>
</form>


	<div id="discover-list" class="container-fluid">
		<!-- Data from the api will be shown here -->
	</div>

<% include ./partials/footer.ejs %>