<% include ./partials/header.ejs %>
<div class="main-container">
<form>
  <div class="form-group">
    <input id="search-bar" type="search" class="form-control" id="exampleFormControlInput1" placeholder="Search name of tv show">
    <button id="search-bar-btn" type="submit" class="btn btn-outline-success">Search</button>
  </div>
</form>
<form class="form-inline genres-form">
  <label class="mr-sm-2" id="genre" for="inlineFormCustomSelectPref">Genre</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="10759">Action & Adventure</option>
    <option value="16">Animation</option>
    <option value="35">Comedy</option>
    <option value="80">Crime</option>
    <option value="99">Documentary</option>
    <option value="18">Drama</option>
    <option value="10751">Family</option>
    <option value="10762">Kids</option>
    <option value="9648">Mystery</option>
    <option value="10763">News</option>
    <option value="10764">Reality</option>
    <option value="10765">Sci-Fi & Fantasy</option>
    <option value="10766">Soap</option>
    <option value="10767">Talk</option>
    <option value="10768">War & Politics</option>
    <option value="37">Western</option>
  </select>
  <button id="genre-btn-tv" type="submit" class="btn btn-primary">Search</button>
</form>

	<div class="container-fluid entertainment-list">
		<!-- Data from the api will be shown here -->
  </div>

<% include ./partials/footer.ejs %>