<!DOCTYPE html>
<html>
<head>
  <title>Watch This.</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Watch This.</h3>
              <nav class="nav nav-masthead">
                <a href="/" class="nav-link active">Home</a>
                <a href="/login" class="nav-link" >Login</a>
                <a href="/signup" class="nav-link">Signup</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Discover. Queue. <span class="enjoy">Enjoy.</span></h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quasi quam perferendis, accusantium adipisci, reprehenderit aliquid magni minima beatae, perspiciatis corporis enim libero tenetur corrupti! Molestias error, dolore sint culpa!</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-secondary">Login</a>
              <a href="/signup" class="btn btn-lg btn-secondary">Signup</a>
            </p>
          </div>

        </div>

      </div>

    </div>

</body>

  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>