<% include ./partials/main-header.ejs %>

              <nav class="nav nav-masthead">
                <a href="/" class="nav-link active">Home</a>
                <a href="/login" class="nav-link" >Login</a>
                <a href="/signup" class="nav-link">Signup</a>
              </nav>
            </div>
          </div>

          <div class="inner cover fade-container">
            <h1 class="cover-heading">Discover. Queue. <span class="enjoy">Enjoy.</span></h1>
            <p class="lead">If you love movies and television shows but have no idea what to watch, then this app is for you. Searching is easy and fast and provides you with lists of all the movies and shows out there. Just enter your email address and a password to get set up and start searching.</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-secondary">Login</a>
              <a href="/signup" class="btn btn-lg btn-secondary">Signup</a>
            </p>
          </div>

        </div>

      </div>

    </div>

<% include ./partials/main-footer.ejs %>