<!DOCTYPE html>
<html>
<head>
	<title>Watch This</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/css/main.css">
</head>
<body>
	<div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 id="watch-this" class="masthead">Watch This.</h3>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Discover. Watch. Enjoy.</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quos sed quae. Iure autem sapiente sequi hic et dolores nisi ullam illum earum, velit dolore a impedit, quia corporis, distinctio.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Login</a>
              <a href="#" class="btn btn-lg btn-secondary">Sign Up</a>
            </p>
          </div>

        </div>

      </div>

    </div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>