<!DOCTYPE html>
<html>
<head>
	<title>Watch This</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <header>
    <h1>Watch This.</h1>
  </header>
    <div class="center-content">
      <h2>Discover. Queue. Watch.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit ipsa veniam placeat! Porro, aperiam, reprehenderit. Ullam accusamus quis hic. Aliquid enim ipsam odit dicta minima fugit, aspernatur quaerat quos aliquam.</p>
     <a href="/login"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
     <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Signup</button></a>
    <div>

      

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>