<% include ./partials/header.ejs %>
<h1 class="list-media">Queued Movies</h1>
	<div class="main-container">
		<div class="container-fluid queued-fluid-container">
		<% for (let i = 0; i < data.queuedMovies.length; i++) { %>
			<div class="container container-queued">
		  	<img class="col-md-3 queued" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2<%= data.queuedMovies[i].poster_path %>">
		  	<div class="middle">
		  	<a href="/movie-profile?id=<%= data.queuedMovies[i].id %>" class="button btn btn-info col-md-8">Info</a>

		   	<button value="<%= data.queuedMovies[i].id %>" type="button" class="button btn btn-warning coll-md-8 watched-movie">Add to Watched</button>

		   	 <button value="<%= data.queuedMovies[i].id %>" type="button" class="button btn btn-danger coll-md-8 remove-movie-queue">Remove</button>

		  	</div>

			</div>

		<% } %>

		</div>
	</div>
<% include ./partials/footer.ejs %>
