<% include ./partials/main-header.ejs %>
              <nav class="nav nav-masthead">
                <a href="/" class="nav-link">Home</a>
                <a href="/login" class="nav-link" >Login</a>
                <a href="/signup" class="nav-link active ">Signup</a>
              </nav>
            </div>
          </div>

          <div class="inner cover fade-container">
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

           <h1 class="cover-heading form-title">Signup</h1>
          
          <form method="post" action="/signup">
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="text" placeholder="Email" name="email" id="email">
            </div>

            <div class="form-group">
              <label for="email">Password</label>
              <input class="form-control" type="password" placeholder="Password" name="password" id="password">
            </div>
              <input class="btn btn-default" type="submit">
            </form>
          </div>

        </div>

      </div>

    </div>

<% include ./partials/main-footer.ejs %>