body {	
	min-height: 100vh;
	background-color: rgba(0,0,0,.8);
}

header {
	height: 8em;
	text-align: center;
	background-color: rgba(255,0,0,.8);
	position: fixed;
	z-index: 5;
	width: 100%;
	top: 0;

}

h1 {
	font-size: 7em;
}

form {
	position: relative; 
	top: 10em;
}

#genre {
	color: white;
}

#discover-list {
	width: 85%;
}

.form-control {
	width: 50%;
	display: inline-block;
}

.form-group {
	margin: 3%;
}

.form-inline {
	margin: 3%;
}

[class^="col"] {
	background: rgb(0,0,0);
	min-height: 300px;
	padding: 20px;
	border: 1px solid white;
}

.container-fluid {
	position: relative;
	top: 12em;
}