html,
body {
  height: 100%;
  background-color: #333;
  background-image: url('../img/tablet.jpeg');
  background-size: cover;
}

h1 {
  background-color: rgba(0,0,0,.5);
  font-size: 4em;
  color: white;
  padding: .3em;
}

.center-content {
  width: 40%;
  text-align: center;
  position: relative;
  top: 50%;
  background-color: rgba(0,0,0,.5);
}

