.content {
	position: relative;
	top: 5em;
}

body {
	color: white;
}

li {
	list-style: none;
}

.bold {
	font-weight: bold;
	margin-right: 1em;
}


h2 {
	color: #25A2B6;
	font-weight: bold;
	margin-top: 1em; 
}

.info {
	margin: .5em 0 .5em 0;
}

